<div *ngIf="item" class="row">
    <div class="col-xs-12">
        <h1>Item ID: {{item.id}}</h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>Description: {{item.description}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>Is Complete: {{item.isComplete}}</h1>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary mt-3 me-3" (click)="onEditItem()">Edit Item</button>
      <button class="btn btn-danger mt-3 " (click)="onDeleteItem()">Delete Item</button>

    </div>
  </div>
  
